@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gallient";
  src: url("../public/fonts/Gallient.ttf");
  font-weight: 400;
  font-style: normal;
  color: rgb(54, 54, 54);
}

.gallient-font {
  font-family: "gallient", sans-serif;
}

/* Import the font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.Josefin-Sans {
  font-family: "Josefin Sans", sans-serif;
}

/* Define a class to use the font */
.dm-sans-font {
  font-family: "DM Sans", sans-serif;
}
.gradient-text {
  background-image: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Josefin Sans", sans-serif; /* Example font family */
}

.transition {
  /* opacity: 0; */
  transition: all 0.6s linear;
  /* animation: animate 0.5s linear; */
}

@keyframes animate {
  to {
    /* opacity: 1; */
    border: 4px #3333ff;
  }
  from {
    border: 4px #ff00cc;
  }
}

::selection {
  /* background-image: linear-gradient(to right, #ff00cc, #3333ff); */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Josefin Sans", sans-serif;
  color: #ff00cc;
}

/* CSS */
.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it's on top of other content */
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3); /* Light border */
  border-top: 4px solid #3498db; /* Blue border on top */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite; /* Animation for spinning */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 4px solid #ff00cc;
  }
  100% {
    transform: rotate(360deg);
    border-top: 4px solid #3333ff;
  }
}

@media not all and (min-width: 640px) {
  #middle,
  #right {
    transition: all 1.5s ease-in;
    overflow: hidden;
  }
}
